#teacher-slider::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, Edge */
}
#teacher-slider {
  -ms-overflow-style: none; /* Untuk Internet Explorer */
  scrollbar-width: none; /* Untuk Firefox */
}

.group:hover img {
  transform: scale(1.2) !important;  
}
.zoom-in {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}