// mixin syle start
@mixin button-style($bg-color, $border, $text-color, $position: static) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: $border;
  color: $text-color;
  background-color: $bg-color;
  border-radius: 40px;
  padding: 14px 16px;
  position: $position;

  @media (min-width: 1024px) {
    width: auto;
    top: 24px;
    right: 8%;
  }

  @media (min-width: 768px) {
    padding: 14px 16px;
  }

  @media (min-width: 1024px) {
    padding: 14px 24px;
  }
}

@mixin hover-img-arrow($rotate, $duration) {
  img {
    transition: transform $duration ease-in-out;
  }

  &:hover img {
    transform: rotate($rotate);
  }
}
// mixin syle end

// button style & effect start
.button-white {
  @include button-style(white, none, black);
  @include hover-img-arrow(45deg, 300ms);
}

.button-transparent {
  @include button-style(transparent, 1.5px solid #504cff, white);
  @include hover-img-arrow(45deg, 300ms);
}

.button-of-fly {
  @include button-style(white, none, black);
  @include hover-img-arrow(45deg, 300ms);

  @media (min-width: 1024px) {
    padding: 14px 62px;
  }
}

.button-fly {
  @include button-style(white, 1.5px solid white, black, absolute);
  @include hover-img-arrow(45deg, 300ms);

  @media (min-width: 1025px) {
    padding: 14px 62px;
  }

  @media (min-width: 1441px) {
    right: 0;
  }

  @media (min-width: 1391px) and (max-width: 1440px) {
    right: 50px;
  }

  @media (min-width: 1321px) and (max-width: 1390px) {
    right: 30px;
  }

  @media (max-width: 1320px) {
    top: 130px;
    right: 50px;
  }

  @media (max-width: 1110px) {
    top: 230px;
    right: 50px;
  }

  @media (max-width: 768px) {
    bottom: unset;
    top: 180px;
    right: unset;
  }

  @media (max-width: 685px) {
    top: 200px;
  }

  @media (max-width: 586px) {
    top: 260px;
    right: unset;
  }

  @media (max-width: 472px) {
    width: 100%;
    display: flex;
    max-width: 410px;
    top: 260px;
  }

  @media (max-width: 384px) {
    top: 300px;
  }
}
// button style & effect start

// card testimonial start
$bg-card: rgba(21, 21, 21, 0.2);
$border-color: white;

// Mixin untuk card
@mixin card-style {
  background: $bg-card;
  backdrop-filter: blur(30px);
  border: 1px solid $border-color;
  padding: 20px;
  border-radius: 24px;
}

// Mixin untuk profile info
@mixin profile-info {
  display: flex;
  gap: 12px;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  .info {
    p {
      color: white;
      font-size: 16px;
      font-weight: normal;

      &:nth-child(2) {
        font-size: 12px;
        padding-top: 4px;
      }
    }
  }
}

// Style untuk card
.review-card {
  @include card-style;

  figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile {
    @include profile-info;
  }

  figcaption {
    color: white;
    font-size: 16px;
    padding-top: 24px;
  }
}
// card testimonial start

// Our product hover start
button {
  position: relative;
  overflow: hidden;

  .arrow-icon {
    transition: transform 0.3s ease-in-out;
  }

  .arrow-icon-copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translateX(-150%) translateY(150%);
  }

  &:hover {
    .arrow-icon {
      transform: translateX(150%) translateY(-150%);
    }

    .arrow-icon-copy {
      transform: translateX(0) translateY(0);
    }
  }
}

// Our product hover end
